/* fonts */
@font-face {
    font-family: "pokemon-solid";
    src: url(fonts/Pokemon\ Solid.ttf);
}

@font-face {
    font-family: "pokemon-hollow";
    src: url(fonts/Pokemon\ Hollow.ttf);
}

body
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* master */
.master-container
{
    display: inline-block;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 20px;
}


/* display */
.display
{
    height: 120px;
    background-color: #777777;

    border-radius: 8px;
    margin-bottom: 10px;
    padding-right: 25px;

    color: whitesmoke;
    font-size: 40px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



/* buttons */
.btns-container
{
    display: flex;
}

.operator-btns-container
{
    display: flex;
    flex-direction: column;
}

.btn
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 50%;
    font-size: 40px;

}

.row
{
    display: flex;
}