html, body
{
    height: 100%;
}

body
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* master */
.master-container
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-body
{
    border: 3px solid black;
    padding: 15px;
    border-radius: 8px;
}


/* display */
.display
{
    height: 130px;
    background-color: #777777;

    border-radius: 8px;
    margin-bottom: 10px;
    padding-right: 25px;

    color: rgb(245, 245, 245);
    font-size: 40px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



/* buttons */
.btns-container
{
    display: flex;
}

.operator-btns-container
{
    display: flex;
    flex-direction: column;
}

.btn
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
    font-size: 40px;

}

/* .operator-btns-container > .op-btn, .equalsBtn
{
    background-color: #333333;
    color: white;
} */


.row
{
    display: flex;
}